# OS
.DS_Store

# IDE
.idea/
*.iml

# Keys & Secrets
*.pem
*.key
.env
.env.local

# Backend
backend/build/
backend/.gradle/
backend/out/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Logs
*.log
