spring:
  datasource:
    url: jdbc:mysql://3.26.225.195:3306/stagedb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: stage
    password: Stage1234!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080

jwt:
  secret: StageAppSecretKeyForJwtTokenGeneration2024StageAppSecretKey
  expiration: 86400000

kakao:
  rest-api-key: fa35ab7422c93c4782ad86452321dd2c
  redirect-uri: https://ticketstage.co.kr/oauth/kakao/callback

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG
